Qui a construit      lArc de Triomphe? Cest   Napoleon  1er qui en est a lorigine    .Juste apres la victoire de la bataille dAusterlitz , il decide de lancer le projet en lhonneur de la Grande Armee . 


Le but  ?
Avoir un monument qui puisse incarner les victoires de larmee francaise.Initialement prevu pour etre situe du cote de la Bastille,cest finalement la place de lEtoile( aujourdhui appelee place Charles de Gaulle) qui a ete retenue.
